footer {
  //*** MEDIA QUERIES ***
  @media (min-width: 1024px) {
    .footer-wrapper {
      display: flex;
      justify-content: space-around;
      max-width: 1200px;
      margin: auto;
    }
  }

  background-color: rgba(10, 10, 10, 0.9);
  text-align: center;
  padding: 50px 0 35px;
  color: #f8d55d;

  p {
    font-size: 1em; //16px
    margin: 0;
  }
  .adresa {
    display: none;
    //*** MEDIA QUERIES ***
    @media (min-width: 640px) {
      display: block;
      margin-bottom: 50px;
    }
    @media (min-width: 1024px) {
      margin: 0;
    }
  }
  .contact-tel {
    margin-bottom: 25px;
    a {
      @include link-txt-color;
    }
  }

  a {
    padding: 12px;
    i {
      font-size: 1.6em;
      color: #f8d55d;
      margin-bottom: 40px;
    }
  }

  h5 {
    font-family: $font_primary;
    text-transform: uppercase;
    font-size: .937em;
    margin: 0;
    a {
      padding: 5px;
      @include link-txt-color;
    }
  }

  .copy-right {
    font-size: .625em;
  }
}