header {

  @include link-txt-color;
  text-align: center;
  height: 640px;

  ///////////////////
  // BACKGROUND IMAGE
  background: url('../img/bee.jpg') no-repeat center;
  background-size: cover;
  .layer {
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
    height: 640px;
  }

  ///////////////
  // LOGO & TEXT
  // *** MEDIA QUERIES ***
  @media (min-width: 1024px){
    .header-logo_nav {
      display: flex;
      justify-content: space-between;
      max-width: 1024px;
      margin: 0 auto 120px;
      padding: 30px;

      .logo-container {
        margin: 0;
      }
      nav {
        padding: 0;
        margin-top: 55px;

        li {
          padding: 0;
        }
      }
    }
  }

  .logo-container {
    padding: 35px 0 20px;
    position: relative;
    width: 210px;
    margin: 0 auto;
    ////*** MEDIA QUERIES
    @media (min-width: 640px) {
      margin-bottom: 10px;
    }

    a {
      @include link-txt-color;
    }
    h1 {
      font-family: $font_primary;
      text-transform: uppercase;
      font-size: 2em; //(32px)
      margin: 0;
      }
    .logo_first_line {
      text-indent: -76px;
    }

    img {
      width: 60px;
      position: absolute;
      top: 25px;
      right: 20px;
    }
  }

  //////////////
  // NAVIGATION
  nav {
    padding-bottom: 90px;

    ul {
      margin: 0;

      li {
        list-style: none;
        padding-bottom: 10px;
        ////*** MEDIA QUERIES ***
        @media (min-width: 640px){
          display: inline-block;
        }

        a {
          @include link-txt-color;
          font-family: $font-secondary;
          text-transform: uppercase;
          font-size: 1.2em;
          padding: 10px;

          @media (min-width: 640px) {
            margin-bottom: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
          @media (min-width: 1024px){
            font-size: 1.4375em;
          }
        }
      }
    }
  }


  ////////////////////
  // INTRO TEXT LINES
  p {
    font-size: 1em; //(15px)
    font-weight: 300;
    margin-bottom: 3em;
    ////*** MEDIA QUERIES ***
    @media (min-width: 640px) {
      margin-bottom: 5em;
    }
    @media (min-width: 1024px){
      font-size: 1.375em;
    }

    a {
      @include link-txt-color;
      ////*** MEDIA QUERIES ***
      @media (min-width: 640px) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  :nth-child(4) {
    padding-right: 4em; //(60px)
    padding-left: 4em;
    margin: 0;
  }
}

////////////////////////////////
// RETETE BACKGOUND IMAGE

#retete-header {
  background: url('../img/retete-cover.jpg') no-repeat center;
  background-size: cover;
  height: 480px;
  .layer {
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
    height: 480px;
  }
}