///////////////////////////////////////
//// ABOUT SECTION CARD
///////////////////////////////////////
.about {
  text-align: center;
  ////*** MEDIA QUERIES ***
  @media (min-width: 1024px) {
    display: flex;
    max-width: 1200px;
    margin: auto;

    .about_card_img,
    .about_card_txt {
      width: 50%;
      margin: 0;
      text-align: left;
    }
  }

  // IMG & NAME LABEL
  .about_card_img {
    position: relative;
    margin-bottom: $img-mb;
    ////*** MEDIA QUERIES ***
    @media (min-width: 1024px) {
      margin: 0;
    }
  }
  .name-label {
    color: #f8d55d;
    height: 65px;
    padding: 5px 0;
    background: rgba(10, 10, 10, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    ////*** MEDIA QUERIES ***
    @media (min-width: 104px) {
      padding-left: 10%;
    }
  }
  h3 {
    font-family: $font_primary;
    font-size: 1.4em;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  h4 {
    font-family: $font_primary;
    font-size: 1em;
    padding: 0;
    margin: 0;
  }

  // *** HEADINGS & PARAGRAPH
  h2 {
    @include cards-heading-style;
    ////*** MEDIA QUERIES ***
    @media (min-width: 1024px) {
      @include cards-heading-style-lg;
    }
  }

  p {
    @include cards-p-style;
    ////*** MEDIA QUERIES ***
    @media (min-width: 1024px) {
      @include cards-p-style-lg;
    }
  }
}

  ///////////////////////////////////////
  // PRODUSE SECTION CARD
 ///////////////////////////////////////
  #produse {
    text-align: center;
    ////*** MEDIA QUERIES ***
    @media (min-width: 1024px) {
      max-width: 1200px;
      margin: 0 auto 100px;
    }
      .produse-cards {
       ////*** MEDIA QUERIES ***
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        .produse-img,
        .produse-txt {
          width: 50%;
          margin: 0;
          text-align: left;
        }
      }
    }

    h2 {
      @include cards-heading-style;
      ////*** MEDIA QUERIES ***
      @media (min-width: 1024px) {
        @include cards-heading-style-lg;
      }
    }
    p {
      @include cards-p-style;
      ////*** MEDIA QUERIES ***
      @media (min-width: 640px) {
        @include cards-p-style-md;
      }
      @media (min-width: 1024px) {
        @include cards-p-style-lg;
      }
    }

    ///////////////////
    // IMAGES
    img {
      margin-bottom: $img-mb;
      ////*** MEDIA QUERIES ***
      @media (min-width: 1024px) {
        margin: 0;
        object-fit: cover;
        max-height: 557px;
        height: 100%;
      }
    }
  }

///////////////////
// BUTTONS
.button {
  @include btn-small;
  @media (min-width: 1024px) {
    @include btn-large;
  }
}