//////////////
// BOX SIZING
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

//////////////
// TYPOGRAPHY
p, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.active {
    text-decoration: underline;
}
