/////////////////////////////////lighter-text-color
// HEADER/FOOTER LINKS COLOR
@mixin link-txt-color {
  color: #f8d55d;
    &:hover,
    &:visited {
    color: #f8d55d;
  }
}

/////////////////////////////////
// CARDS STYLES
@mixin cards-heading-style {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 1.5625em; //(25px)
  text-align: center;
  margin-bottom: 35px;
}

@mixin cards-p-style {
  color: #1f1f1f;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 60px;
}
